# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
venv/
.venv/

# Environment
.env

# Hypothesis test database
.hypothesis/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp JSON data
.somejson-to-be-ignored/
